<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swiftImgur_CustomGallery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FBA62CDD1CF3779300866FB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA62CF11CF3779400866FB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA62CFC1CF3779400866FB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
